.slidercard {
    display: flex;
   
    margin-left: 8px;



}


.card {
  margin-left: 0px;
  
  margin-bottom: 30px;

}

.imggg {
    height: 200px;
    width: 200px;

}

.cardbutton {
    width: 100px;
    border-radius: 50px;
    color: rgb(243, 243, 248);
    background: rgb(15, 3, 3);
    border: 1px solid #01060c;
    font-size: 15px;
    transition: 0.5s;
    text-decoration: none;
}

.cardbutton:hover {
    background: transparent;
    border: 2px solid white;
    color: #226886;
}

.cardspan {
    height: 70px;
    width: 500px;
   
    margin-top: 450px;
    margin-left: 200px;
}

.cardspan span {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Brush Script MT', cursive;
    color: black;
    
}

